extends _layout/layout

block variables
  - var title = 'K-Resposive-Menu'
  - var bodyclass = 'index'

block css
  link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet" type="text/css" href="./css/k-responsive-menu.css")

block body 
  .container
    h1.display-4(style="margin:2rem 0;") K-Resposive-Menu
    hr 

    nav
      .k-menu-bar.bg-light
        .k-logo LOGO
        button.k-menu-toggle(k-toggle-for="#demoResAllInOneMenu") MENU
      ul#demoResAllInOneMenu.nav
        li.nav-item
          a.nav-link(href='') Item one  
        li.nav-item
          a.nav-link(href='') Item two 

        
  //-   h3(style="margin:2rem 0;") HTML
  //-   pre.prettyprint.lang-html.
  //-     &lt;nav&gt;
  //-       &lt;div class=&quot;k-menu-toggle&quot;&gt;
  //-         &lt;h3&gt;Menu&lt;/h3&gt;
  //-         &lt;button type=&quot;button&quot; id=&quot;menu-btn&quot;&gt;
  //-           &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
  //-           &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
  //-           &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
  //-         &lt;/button&gt;
  //-       &lt;/div&gt;

  //-       &lt;ul id=&quot;demoResAllInOneMenu&quot; class=&quot;k-responsive-menu&quot; data-menu-style=&quot;horizontal&quot;&gt;
  //-         &lt;li&gt;&lt;a href=&quot;&quot;&gt;Item one  &lt;/a&gt;&lt;/li&gt;
  //-         &lt;li&gt;&lt;a href=&quot;&quot;&gt;Item two &lt;/a&gt;
  //-           &lt;ul&gt;
  //-             &lt;li&gt;&lt;a href=&quot;&quot;&gt;sub Item one &lt;/a&gt;&lt;/li&gt;
  //-             &lt;li&gt;&lt;a href=&quot;&quot;&gt;sub Item two &lt;/a&gt;&lt;/li&gt;
  //-             &lt;li&gt;&lt;a href=&quot;&quot;&gt;sub Item Three &lt;/a&gt;&lt;/li&gt;
  //-           &lt;/ul&gt;
  //-         &lt;/li&gt;
  //-         &lt;li&gt;&lt;a href=&quot;&quot;&gt;Item three &lt;/a&gt;&lt;/li&gt;
  //-         &lt;li&gt;&lt;a href=&quot;&quot;&gt;Item four &lt;/a&gt;&lt;/li&gt;
  //-       &lt;/ul&gt;
  //-     &lt;/nav&gt;
    

  //-   .alert.alert-info Change default style of the Menu (data-menu-style="") to 
  //-     code horizontal
  //-     | , 
  //-     code vertical
  //-     | , 
  //-     code accordion
  //-   h3(style="margin:2rem 0;") JS
    
  //-   pre.prettyprint.lang-js.
  //-     $(document).ready(function() {
  //-       $('#demoResAllInOneMenu').kResponsiveMenu({
  //-         resizeWidth: '768', // Set the breakpoint same in Media query       
  //-         animationSpeed: 'fast', //slow, medium, fast
  //-         accoridonExpAll: false //Expands all the accordion menu on click
  //-       });
  //-     });

    
  //- script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
  script.
     $(document).ready(function() {
        $('#demoResAllInOneMenu').kResponsiveMenu({
          animationSpeed: 'slow', // slow, fast, 200
          resizeWidth: 'sm', // 'xs', 'sm', 'md', 'lg', 'xl', 480,
          menuIcon: '<i class="fa fa-bars"></i>',
          onResizeEnd: function(){
            console.log(this)
          }
          //- onResize: function(){
          //-   console.log(this)
          //- }
          //- menuType: 'horizontal', // horizontal, vertical, accordion
          //- onComplete: null,
          //- onChange: null,
          //- onClick: null,
          //- onBegin: null,
          //- onHover: null
        });
      });